%% -*- erlang -*-
{erl_opts, [debug_info]}.

{project_plugins, [rebar3_lint, erlfmt]}.

{deps, [{dns_erlang, {git, "https://github.com/dnsimple/dns_erlang", {ref, "25c553e"}}}]}.

{escript_name, nsupdate}.
{escript_emu_args, "%%! +sbtu +A0\n"}.
{escript_incl_apps, [nsupdate, dns_erlang, base32]}.

{post_hooks, [
    {clean, "rm -rf ./nsupdate"},
    {escriptize, "cp \"$REBAR_BUILD_DIR/bin/nsupdate\" ./nsupdate"}
]}.

{profiles, [
    {test, [
        {erlfmt, [check]},
        {xref_checks, [undefined_function_calls]},
        {dialyzer, [{warnings, [unmatched_returns, error_handling]}]}
    ]}
]}.

{dialyzer, [{plt_extra_apps, [dns_erlang]}]}.

{elvis, [
    #{
        dirs => ["src/**"],
        filter => "*.erl",
        ruleset => erl_files
    },
    #{
        dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
    }
]}.
