%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [dns_erlang]}.

{escript_name, nsupdate}.
{escript_emu_args, "%%! +sbtu +A0\n"}.
{escript_incl_apps, [nsupdate, dns_erlang, base32]}.

{post_hooks,
 [{clean, "rm -rf ./nsupdate"}
 ,{escriptize,
   "cp \"$REBAR_BUILD_DIR/bin/nsupdate\" ./nsupdate"}]}.
